# ignore for Xcode
.DS_Store
xcuserdata

# temporary ignored
DesktopTools/macOS/packages

# for EAGLE
*.s#?
*.b#?

# ignore sub directories for Visual Studio
obj
Release

# ignore sub directories
core
.vs
.vscode

# ignore for Zephyr
build
build_signed
